<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>notGIF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C97E96FA1C28157D004D74E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C97E970E1C28157D004D74E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C97E97191C28157D004D74E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
